---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
---

<header>
	<nav>
		<h2><a href="/"><Logo width={70} height={50} /></a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
		</div>
	</nav>
</header>
